version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: reallygreatsite
    ports:
      - "50810:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
